node_modules/
TestResults/
nupkg/

.vs/
.idea/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates
*.bak

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
buildpublish/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.DS_Store
*/DS_Store

**/BenchmarkDotNet.Artifacts/*
**/BenchmarkDotNet.Reports/*